<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busqueda por texto</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- <script defer src="/static/js/script.js"></script> -->

      
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-4">
        <a href="/">
          <img
            src="/static/images/logo.jpg"
            alt="logo asistente de compras"
            height="80px"
            width="auto"
            class="logo"
          />
        </a>
        <a href="/upload-image" class="boton">Buscar por imagen</a>
        <a id="search-by-text" class="boton">Buscar por texto</a>
        <button
          class="boton"
          style="border-radius: 100%; width: 55px; height: 52px"
          id="user_loggedIn"
        >
         {{userId}}
        </button>
      </div>
      <h1 class="title">Busqueda por voz</h1>
     
    {% if texto != ""  %}
    <form action="/process-audio" method="get" >
      <h4 style="font-weight: 500; margin-bottom: 20px;">Presione el microfono para realizar su consulta</h4>
      <button
      id="process-audio"
      type="submit"
      class="button-start"
      >
        <i id="recordButton" class="bi bi-mic-fill" onclick="startRecording()"></i>
        <p id="recordingTime">Tiempo de grabación: 00:00</p>
    </button>
    {% else%}
      <a id="redirect-consulta-audio">Ingresar una nueva consulta</a>
    {% endif %}
    {% if texto  %}
      <h5 style="margin-top: 20px;">Su consulta fue: <span style="font-weight: 400;">{{texto}}</span></h5>

    {% elif texto == "" %}
      <p>No se pudo entender el audio</p>
    {% else%}
      <p></p>
    {% endif %}
    </form>
    
      

  </div>
  {% if recomendaciones %}
  <!-- <audio controls src="static/audio/recomendacion.mp3"></audio> -->
  <div style="margin: 0 60px;">

    <h3 id="orden-consulta"></h3>
  <p style="font-weight: 500;">{{recomendaciones|safe }}</p>
  </div>

  {% endif %}
</div>
<script>
  const recordingTimeDisplay = document.getElementById("recordingTime");
  function updateRecordingTime() {
    const currentTimeMillis = Date.now() - startTime;
    const minutes = Math.floor(currentTimeMillis / 60000);
    const seconds = Math.floor((currentTimeMillis % 60000) / 1000);
    const formattedTime = `${minutes.toString().padStart(2, "0")}:${seconds
    .toString()
    .padStart(2, "0")}`;
    recordingTimeDisplay.textContent = `Tiempo de grabación: ${formattedTime}`;
    }
    async function startRecording(){
      const buttonRecording = document.getElementById("recordButton")
      startTime = Date.now();
      timerInterval = setInterval(updateRecordingTime, 1000);
      buttonRecording.classList.add("bi-mic-fill", "recording");
  }
  document.addEventListener("DOMContentLoaded", async (event) => {
    const buttonSearchByText = document.getElementById("search-by-text");
    const buttonRedirectAudio = document.getElementById("redirect-consulta-audio");
    const selectedUserId = localStorage.getItem("user_id")
    buttonSearchByText.href = `/search-by-text/${selectedUserId}`
    buttonRedirectAudio.href = `/search-by-text/${selectedUserId}/audio`
const buttonBuscarText = document.getElementById("user_loggedIn");
const userHTML = `
<span >${selectedUserId}  </span>
`;
buttonBuscarText.innerHTML = userHTML;
})

  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  function generateRandomNumber() {
    let randomInt = getRandomInt(1, 100);
    document.getElementById("orden-consulta").innerText =
      "Orden de consulta N°: " + randomInt;
  }
  generateRandomNumber();
  async function process() {
    const response = await fetch(
      `http://127.0.0.1:8000/process-audio`
    );

    const productos = await response.json();
  }
  
</script>
    

  </body>
</html>