<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busqueda por texto</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script defer src="/static/js/script.js"></script>
  </head>
  <body>
    <style>
      .spinner {
        border: 13px solid #f3f3f3; /* Light grey */
        border-top: 13px solid rgb(84, 16, 245, 0.9); /* Blue */
        border-radius: 50%;
        width: 75px;
        height: 75px;
        animation: spin 2s linear infinite;
        margin: auto;
        position: absolute;
        top: 41%;
        left: 47%;
        transform: translate(-50%, -50%);
      }

      @keyframes spin {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
    </style>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-4">
        <a href="/">
          <img
            src="/static/images/logo.jpg"
            alt="logo asistente de compras"
            height="80px"
            width="auto"
            class="logo"
          />
        </a>
        <a href="/upload-image" class="boton">Buscar por imagen</a>
        <a id="search-by-text" class="boton">Buscar por texto</a>
        <button
          class="boton"
          style="border-radius: 100%; width: 55px; height: 52px"
          id="user_loggedIn"
        ></button>
      </div>
      <h1 class="title">Busqueda por texto</h1>
      <div class="container-input">
        <h2>Ingrese un producto</h2>
        <form action="/process-texto" method="get" class="form-input-text">
          <input
            type="text"
            name="texto"
            placeholder="Pera"
            class="input-texto"
          />
          <button
            id="process-text"
            type="submit"
            class="boton"
            style="width: 150px; margin: auto 10px"
            onclick="process()"
          >
            Buscar
          </button>
        </form>
      </div>
      {% if recomendaciones %}
      <audio controls src="static/audio/recomendacion.mp3"></audio>
      <h3 id="orden-consulta"></h3>
      <p>{{recomendaciones|safe }}</p>

      {% endif %}
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", async (event) => {
        const buttonSearchByText = document.getElementById("search-by-text");
        const selectedUserId = localStorage.getItem("user_id");
        buttonSearchByText.href = `/search-by-text/${selectedUserId}`;
      });
      const userId = localStorage.getItem("user_id");
      console.log("user", userId);
      const buttonBuscarText = document.getElementById("user_loggedIn");
      const userHTML = `
          <span >${userId}  </span>
          `;
      buttonBuscarText.innerHTML = userHTML;

      function getRandomInt(min, max) {
        min = Math.ceil(min);
        max = Math.floor(max);
        return Math.floor(Math.random() * (max - min + 1)) + min;
      }

      function generateRandomNumber() {
        let randomInt = getRandomInt(1, 100);
        document.getElementById("orden-consulta").innerText =
          "Orden de consulta N°: " + randomInt;
      }
      generateRandomNumber();
      async function process() {
        const buttonBuscarText = document.getElementById("process-text");

        const processHTML = `
          <span style="color: rgb(84, 16, 245, 0.9)">Buscando . . .  <div class="spinner"></div></span>
          `;
        buttonBuscarText.innerHTML = processHTML;
      }
    </script>
  </body>
</html>
