<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busqueda por texto</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
    <!-- <script defer src="/static/js/script.js"></script> -->

      
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-4">
        <a href="/">
          <img
            src="/static/images/logo.jpg"
            alt="logo asistente de compras"
            height="80px"
            width="auto"
            class="logo"
          />
        </a>
        <a href="/upload-image" class="boton">Buscar por imagen</a>
        <a href="/search-by-text" class="boton">Buscar por texto</a>
        <button
          class="boton"
          style="border-radius: 100%; width: 55px; height: 52px"
          id="user_loggedIn"
        >
         {{userId}}
        </button>
      </div>
      <h1 class="title">Busqueda por voz</h1>
      <!-- <div class="container-input">
        <h2>Presiona para grabar tu voz</h2>
       <a class="boton" href="/process-audio">Grabar</a>
        
      </div>
      {% if recomendaciones %}
      <p>{{recomendaciones|safe }}</p>
      
      {% endif %}
    </div> -->
    
    <form action="/process-audio" method="get" >
  <p>Realice su consulta</p>
  <button
  id="process-audio"
  type="submit"
  onclick="process()"
  >
  <!-- Buscar -->
  <i id="recordButton" class="bi bi-mic-fill" onclick="process()"></i>
  <!-- <p id="recordingTime">Tiempo de grabación: 00:00</p> -->
</button>
{% if texto  %}
  <p>Usted dijo: {{texto}}</p>

{% elif texto == "" %}
  <p>No se pudo entender el audio</p>
{% else%}
  <p></p>
{% endif %}
    </form>
    
      

  </div>
  {% if recomendaciones %}
  <!-- <audio controls src="static/audio/recomendacion.mp3"></audio> -->
  <h3 id="orden-consulta"></h3>
  <p>{{recomendaciones|safe }}</p>

  {% endif %}
</div>
<script>
  const userId = localStorage.getItem("user_id");
  console.log("user", userId);
  const buttonBuscarText = document.getElementById("user_loggedIn");
  const userHTML = `
      <span >${userId}  </span>
      `;
  buttonBuscarText.innerHTML = userHTML;

  function getRandomInt(min, max) {
    min = Math.ceil(min);
    max = Math.floor(max);
    return Math.floor(Math.random() * (max - min + 1)) + min;
  }

  function generateRandomNumber() {
    let randomInt = getRandomInt(1, 100);
    document.getElementById("orden-consulta").innerText =
      "Orden de consulta N°: " + randomInt;
  }
  generateRandomNumber();
  async function process() {
    const response = await fetch(
      `http://127.0.0.1:8000/process-audio`
    );

    const productos = await response.json();
  }
  
</script>
    

  </body>
</html>