<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Busqueda por texto</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <script defer src="/static/js/script.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="d-flex justify-content-between align-items-center my-4">
        <a href="/">
          <img
            src="/static/images/logo.jpg"
            alt="logo asistente de compras"
            height="80px"
            width="auto"
            class="logo"
          />
        </a>
        <a href="/upload-image" class="boton">Buscar por imagen</a>
        <a href="/search-by-text" class="boton">Buscar por texto</a>
        <button
          class="boton"
          style="border-radius: 100%; width: 55px; height: 52px"
        >
          {{ userId }}
        </button>
      </div>
      <h1 class="title">Busqueda por texto</h1>
      <div class="d-flex justify-content-center">
        <article class="tipo_de_consulta">
          <a href="{{ userId }}/texto" class="asistente">
            Ingresar texto
            <img
              src="/static/images/asistente-texto.webp"
              alt="asistente de texto"
              height="250px"
              width="auto"
            />
          </a>
        </article>
        <article class="tipo_de_consulta">
          <a href="{{ userId }}/audio" class="asistente">
            Ingresar audio
            <img
              src="/static/images/asistente-audio.webp"
              alt="asistente de audio"
              height="250px"
              width="auto"
            />
          </a>
        </article>
      </div>
    </div>
  </body>
</html>
